/* /Layout/MainLayout.razor.rz.scp.css */
.page[b-8n538rc3nm] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-8n538rc3nm] {
    flex: 1;
}

.sidebar[b-8n538rc3nm] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row[b-8n538rc3nm] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-8n538rc3nm]  a, .top-row[b-8n538rc3nm]  .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
        text-decoration: none;
    }

    .top-row[b-8n538rc3nm]  a:hover, .top-row[b-8n538rc3nm]  .btn-link:hover {
        text-decoration: underline;
    }

    .top-row[b-8n538rc3nm]  a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row[b-8n538rc3nm] {
        justify-content: space-between;
    }

    .top-row[b-8n538rc3nm]  a, .top-row[b-8n538rc3nm]  .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-8n538rc3nm] {
        flex-direction: row;
    }

    .sidebar[b-8n538rc3nm] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-8n538rc3nm] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row.auth[b-8n538rc3nm]  a:first-child {
        flex: 1;
        text-align: right;
        width: 0;
    }

    .top-row[b-8n538rc3nm], article[b-8n538rc3nm] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
/* /Layout/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-gyivz13pwv] {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row[b-gyivz13pwv] {
    min-height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand[b-gyivz13pwv] {
    font-size: 1.1rem;
}

.bi[b-gyivz13pwv] {
    display: inline-block;
    position: relative;
    width: 1.25rem;
    height: 1.25rem;
    margin-right: 0.75rem;
    top: -1px;
    background-size: cover;
}

.bi-house-door-fill-nav-menu[b-gyivz13pwv] {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-house-door-fill' viewBox='0 0 16 16'%3E%3Cpath d='M6.5 14.5v-3.505c0-.245.25-.495.5-.495h2c.25 0 .5.25.5.5v3.5a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5Z'/%3E%3C/svg%3E");
}

.bi-plus-square-fill-nav-menu[b-gyivz13pwv] {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-plus-square-fill' viewBox='0 0 16 16'%3E%3Cpath d='M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm6.5 4.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3a.5.5 0 0 1 1 0z'/%3E%3C/svg%3E");
}

.bi-list-nested-nav-menu[b-gyivz13pwv] {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-list-nested' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M4.5 11.5A.5.5 0 0 1 5 11h10a.5.5 0 0 1 0 1H5a.5.5 0 0 1-.5-.5zm-2-4A.5.5 0 0 1 3 7h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm-2-4A.5.5 0 0 1 1 3h10a.5.5 0 0 1 0 1H1a.5.5 0 0 1-.5-.5z'/%3E%3C/svg%3E");
}

.nav-item[b-gyivz13pwv] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-gyivz13pwv] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-gyivz13pwv] {
        padding-bottom: 1rem;
    }

    .nav-item[b-gyivz13pwv]  a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

.nav-item[b-gyivz13pwv]  a.active {
    background-color: rgba(255,255,255,0.37);
    color: white;
}

.nav-item[b-gyivz13pwv]  a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

@media (min-width: 641px) {
    .navbar-toggler[b-gyivz13pwv] {
        display: none;
    }

    .collapse[b-gyivz13pwv] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }

    .nav-scrollable[b-gyivz13pwv] {
        /* Allow sidebar to scroll for tall menus */
        height: calc(100vh - 3.5rem);
        overflow-y: auto;
    }
}
/* /Pages/Calculator.razor.rz.scp.css */

.Calculator[b-k4va7lqwqr]{
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    justify-content:center;
    align-items: center;
    height: fit-content;
    width:  fit-content;
    padding:30px;
    flex-direction: column;
    border:1px solid #ccc;
    background-image: url("/calc_background.jpg");
    border-radius: 5px;
    box-shadow: 15px 15px 10px rgba(0, 0, 0, 0.39);
    /* margin-left: 50vw; */
}
.display[b-k4va7lqwqr]{
    width: 100%;
    padding: 1.5vh 0.5vw;
    background-color: rgba(155, 47, 255, 0.61);
    font-size: 19px;
    font-weight: bold;
}
.title[b-k4va7lqwqr]{
    padding: 5px;
    font-size: 30px;
    color:rgb(103, 0, 198);
}
.buttons[b-k4va7lqwqr]{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
    margin-top: 20px;
}
.buttons button[b-k4va7lqwqr]{
    padding: 3vh;
    font-size: 19px;
    cursor: pointer;
}
.operation[b-k4va7lqwqr]{
    background-color: rgba(239, 155, 0, 0.84);
    font-weight: bold;
}
.number[b-k4va7lqwqr]{
    background-color: rgba(188, 116, 255, 0.822);
    font-weight: bold;
}
.error-toast[b-k4va7lqwqr]{
    color:red;
    z-index: 10;
    white-space: pre-line; 
}
