.history-container{
    position: relative;
    margin-top:20px;   
    padding: 2px;
    border:1px solid ;
    border-radius:10px;
    height:fit-content;
    width:50vw;
    display:flex;
    flex-direction:column;
    gap:10px;
    background-color: rgba(120, 13, 220, 0.347);
}
.clear-button{
    height:fit-content;
    width:fit-content;
    padding:5px;
    align-self: flex-end;
    font-size: 1em;
    margin: 2vh 2vh 0 0;
    background-color: rgba(128, 128, 128, 0.527);
}
hr{
    width:50vw;
    border:1px solid rgb(107, 106, 106);
    margin-top: 0.5vh;
    margin-left: -0.15vw;
}
li{
    list-style-type:disc;
    padding:10px 0px 10px 0px;
    border-bottom: 1px solid rgba(160, 158, 158, 0.459);
    width: 60%;
    font-size: 1.1em;
}